<br/>
<br/>
<br/>

<div class="ui center aligned container">  
	<h2 class="ui header">
		<img class="ui image" src="/images/icons/school.png">
		<div class="content">
		    Manage Campus Profile
		</div>
	</h2>		
	<%= render :partial=>"campus_info_table"%>
	<br/>
	<br/>

</div>
