<script id="cards-template" type="text/x-handlebars-template">
<div class="ui cards">
  {{#each openings}}
    
  <div class="card">
    <div class="middle aligned content">
      <img class="left floated small ui image" src="/images/pramata.png" style="margin-bottom:0px;border: 1px solid rgba(52,73,94,.44);padding: 4px;max-height:120px">
      <div class="right floated">
        <br/><br/>
        <strong>Offering/Package:</strong><br/><br/>
        {{opening.package_lower}} - {{opening.package_upper}}
      </div>
      <div class="header">
        {{company.name}}        
      </div>
      <div class="meta">
        {{opening.location.name}}
      </div>
      <div class="other-details">
        <p><strong>Job Role:</strong>  &nbsp;{{opening.position}}</p>
        <p><strong>Opening Type:</strong>  &nbsp;{{opening.opening_type}}</p>
        <p><strong>Openings:</strong>  &nbsp;{{opening.no_of_openings}}</p>
        <p><strong>Head Office:</strong>  &nbsp;{{company.headquarter.name}}</p>
      </div>
    </div>
    <div class="extra content">
      <a><i class="users icon"></i>{{company.no_of_employees}} + Members</a>
      <a class="ui right floated primary button" id="view-details" href="dashboard/company_details?op_id={{opening_id}}">
        View Details
      </a>
    </div>
  </div>

  {{/each}}
  
</div>
</script>