<script id="cards-template" type="text/x-handlebars-template">
<div class="ui cards">
  {{#each companies}}

  <div class="card">
    <div class="middle aligned content">
      <img class="left floated small ui image" src="/images/pramata.png" style="margin-bottom:0px;border: 1px solid rgba(52,73,94,.44);padding: 4px;max-height:120px">
      <div class="right floated">
        <br/><br/>
        <strong>Offering/Package:</strong><br/><br/>
        {{opening.package_lower}} - {{opening.package_upper}}
      </div>
      <div class="header">
        {{company.name}}        
      </div>
      <div class="meta">
        Bangalore
      </div>
      <div class="other-details">
        <p><strong>Job Role:</strong>  &nbsp;{{opening.position}}</p>
        <p><strong>Opening Type:</strong>  &nbsp;{{opening.opening_type}}</p>
        <p><strong>Openings:</strong>  &nbsp;{{opening.no_of_openings}}</p>
        <p><strong>Head Office:</strong>  &nbsp;{{company.headquarter}}</p>
      </div>
    </div>
    <div class="extra content">
      <a><i class="users icon"></i>{{company.no_of_employees}} + Members</a>
      <div class="ui right floated button">
        Action
      </div>
    </div>
  </div>

  {{/each}}
  
</div>
</script>