<script id="cards-template" type="text/x-handlebars-template">
  <div class="ui cards">
      <div class="card">
        <div class="middle aligned content">
          <img class="left floated small ui image" src="/images/pramata.png" style="margin-bottom:0px;border: 1px solid rgba(52,73,94,.44);padding: 4px;max-height:120px">
          <div class="header">
            Pramata knowledge solution pvt ltd.
          </div>
          <div class="meta">
            Bangalore
          </div>
          <div class="other details">
            <p>It's B2B product based company, Headquarter in US California</p>
            <p>It is in action/started in 1999 and has well funded by silicon valley partners</p>
            <p>It has offices in Bangalore and Mumbai </p>
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="users icon"></i>
            200+ Members
          </a>
          <div class="ui right floated button">
            Action
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="middle aligned content">
          <img class="left floated small ui image" src="/images/logo.png">
          <div class="header">
            Pramata knowledge solution pvt ltd.
          </div>
          <div class="meta">
            Bangalore
          </div>
          <div class="other details">
            <p>It's B2B product based company, Headquarter in US California</p>
            <p>It is in action/started in 1999 and has well funded by silicon valley partners</p>
            <p>It has offices in Bangalore and Mumbai </p>
          </div>
          <!-- <div class="description">
            description about the company goes here, and other necessary detail can also be added here
          </div> -->
        </div>
        <div class="extra content">
          <a>
            <i class="users icon"></i>
            2 Members
          </a>
          <div class="ui right floated button">
            Action
          </div>
          <!-- <div class="ui two buttons">
            <div class="ui basic green button">Approve</div>
            <div class="ui basic red button">Decline</div>
          </div> -->
        </div>
      </div>
      
    </div>
</script>
