<script id="cities-department-filter-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="item">
      <div class="ui checkbox">
        <input type="checkbox" name="{{name}}">
        <label>{{name}}</label>
      </div>
    </div>
  {{/each}}
</script>
