<script id="company-details-template" type="text/x-handlebars-template">
{{#if company}}
<div class="ui grid" style="position:relative;background:cadetblue">
    <div class="sixteen wide column" style="height:60px"></div>
    <div class="one wide column"></div>
    <div class="two wide column">
        <img src="{{company.company_logo}}" style="padding:4px;max-height:120px">
    </div>
    <div class="thirteen wide column">
        <h1 style="color:white">{{company.name}}</h1>
        <h2 style="color:white;line-height:0px;font-size:17px;">{{company.business_nature}}</h2>
        <div class="ui horizontal bulleted list" style="color:white;margin-top:10px;">
            <p class="item">
                Founded in: {{company.established}}
            </p>
            <p class="item">
                Employees: {{company.no_of_employees}}
            </p>
            <p class="item">
                HeadQuater: {{company.headquarter.name}}
            </p>
        </div>
    </div>
</div>
<!-- new row -->
<div class="ui grid segment" style="margin:0px;padding:0px">
    <div class="one wide column">
    </div>
    <div class="nine wide column" style="padding:0px">
        <div class="ui steps">
            <div class="step">
                <i class="marker arrow icon"></i>
                <div class="content">
                    <div class="title">Location</div>
                    <div class="description">{{opening.location.name}}</div>
                </div>
            </div>
            <div class="step">
                <i class="users icon"></i>
                <div class="content">
                    <div class="title">No of openings</div>
                    <div class="description">{{opening.no_of_openings}}</div>
                </div>
            </div>
            <div class="step">
                <i class="user outline icon"></i>
                <div class="content">
                    <div class="title">Position</div>
                    <div class="description">{{opening.position}}</div>
                </div>
            </div>
            <div class="step">
                <i class="rupee icon"></i>
                <div class="content">
                    <div class="title">CTC</div>
                    <div class="description">{{opening.package_lower}} - {{opening.package_upper}} </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- right company pannel -->
<div class="container" style="position:fixed;z-index:10;top:22%;left:72%;bottom:10%">
    <div class="ui card">
        <div class="content">
            <div class="ui grid">
                <div class="row">
                    <div class="sixteen wide column">
                        <center><h3>
                        Interested in this company?
                        </h3>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                    {{#if <%=@knocked.present?%>}}
                        <center>
                            <button class="ui disabled button" id="" onclick="">Interest Sent</button>
                        </center>
                    {{else}}
                        <center>
                            <button class="ui button green" id="SendRequestbtn" onclick="CampusConnect.Dashboard.SendRequest()">I am interested</button>
                        </center>
                        <form id="InterestSendForm">
                            <input type="hidden" name="campus_id" value="<%=@campus_id%>">
                            <input type="hidden" name="opening_id" value="{{opening_id}}">
                        </form>
                    {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <h3>Company Links</h3>
            <div class="ui grid">
                <div class="two column row">
                    <div class="column">
                        <i class="external icon"></i>
                        <a href="{{company.website_url}}" target="_blank">Website</a>
                    </div>
                    <div class="column">
                        <i class="linkedin square icon"></i>
                        <a href="#">LinkedIn</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="content">
            <h3>Funding information</h3>
            <div class="ui bulleted list">
                {{#each company.funding}}
                <div class="item">{{this.amount}} from {{this.funding_by}}</div>
                {{/each}}
            </div>
        </div>
        <div class="content">
            <h3>Our tech stack</h3>         
            {{#each company.tech_stack}}   
                <div class="ui label">{{this.name}}</div>            
             {{/each}}   
        </div>
    </div>
</div>
<!--  -->
<div class="ui container" id="center-pannel" style="positoin:relative">
    <div class="ui grid">
        <div class="ten wide column" style="height:30px;"></div>
        <div class="twelve wide column">
            <div class="ui grid">
                <div class="one column row">
                    <div class="column">
                        <h3>Job Description</h3>
                    </div>
                    <div class="column">
                        <div class="ui divider"></div>
                    </div>
                    <div class="column">
                        <div class="ui list">
                            <div class="item" style="font-size:initial">Job Title: <strong>{{opening.position}}</strong></div>
                            <div class="item" style="font-size:initial">Job Location:<strong> {{opening.location.name}}</strong></div>
                            <div class="item" style="font-size:initial">Openings: <strong>{{opening.no_of_openings}}</strong> </div>
                        </div>
                    </div>
                    <div class="column extra content">
                        <br/>
                        <p style="">
                            {{opening.description}}
                        </p>
                    </div>
                    <div class="column">
                        <br/>
                        <h3>About : <i>{{company.name}}</i></h3>
                    </div>
                    <div class="column">
                        <div class="ui divider"></div>
                    </div>
                    <br/>
                    <br/>
                    <div class="column" id="company-internal-details">
                        <div class="ui cards " style="">                            
                            <div class="card">                     
                                <div class="content">
                                    <div class="ui grid two column row">
                                        <div class="column">
                                            <div class="image">
                                                <img src="{{company.ceo.image}}"/>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="header">
                                                {{company.ceo.name}}
                                            </div>                                            
                                            <div class="meta">
                                                CEO
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{#if company.revenue}}
                            <div class="card">
                                <div class="content">
                                    <div class="header">
                                        <center>REVENUE</center>
                                    </div>
                                </div>
                                <div class="content">
                                    <center>
                                    <h2 class="ui header">
                                      <div class="content">
                                        <i class="dollar icon"></i>
                                        {{company.revenue}} MN
                                      </div>
                                    </h2>
                                    </center>
                                </div>
                            </div>
                        {{/if}} 
                        </div>
                    </div>
                    <div class="column">
                        <br/>
                        <p>
                             {{company.description}}
                        </p>
                        <p>
                            <br/>
                            {{company.achievement}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{{else}}
<div class="ui container">
    <br/>
    <br/>
    <div class="ui negative message center aligned segment">
        <div class="header ">
            We're sorry, we are experiencing some malicious parameters in this request
      </div>
      <p>We are logging this  incident for better quality in future</p>
    </div>
</div>
{{/if}}
</script>