<style>
.verticalLine {
  border-right:1px solid #ebebe0;
}
</style>
<div class="filters" style="padding-top:1%;padding-left:45%;">
	<!-- <div class="verticalLine">a</div> -->
	<h3>Location ( City )</h3>
	<div class="ui list" style="padding-bottom:20px;">
		<div class="item">
			<div class="ui checkbox">
				<input type="checkbox" name="example">
				<label>Bangalore</label>
			</div>
		</div>
		<div class="item">
			<div class="ui checkbox">
				<input type="checkbox" name="example">
				<label>Hyderabad</label>
			</div>
		</div>
		<div class="item">
			<div class="ui checkbox">
				<input type="checkbox" name="example">
				<label>Delhi</label>
			</div>
		</div>
	</div>

	<div class="ui divider"></div>
	<h3>Department/Position </h3>
	<div class="ui list">
		<div class="item">
			<div class="ui checkbox">
				<input type="checkbox" name="example">
				<label>Software Engineer </label>
			</div>
		</div>
		<div class="item">
			<div class="ui checkbox">
				<input type="checkbox" name="example">
				<label>Mechanical Engineer </label>
			</div>
		</div>
		<div class="item">
			<div class="ui checkbox">
				<input type="checkbox" name="example">
				<label>Human Resource</label>
			</div>
		</div>
	</div>
</div>