<style>
.verticalLine {
border-right:1px solid #ebebe0;
}
</style>
<div class="filters" style="padding-top:1%;padding-left:45%; height: 97%">
	<!-- <div class="verticalLine">a</div> -->
	<div style=" font-size: 16px;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.28571429em;
    font-weight: bold; height: 25px">
  	Location ( City )
  </div>
	<div id="filter_cities" class="ui list" style="margin: 2% 0 0 0;height: 250px;overflow: auto;">
	</div>
	<div class="ui divider" style="margin: 2% 0 2% 0;"></div>
	<div style=" font-size: 16px;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.28571429em;
    font-weight: bold; height: 25px">
  	Department/Position
  </div>
	<div id="filter_department" class="ui list" style="margin: 2% 0 0 0;height: 250px;overflow: auto;">
	</div>
</div>

<div id="location-filter-container">

</div>
