<script id="location-filter-template" type="text/x-handlebars-template">
<div class="ui modal">
	<i class="close icon"></i>
	<div class="header">
		<div class="ui small horizontal list">
			{{#each alphabets}}
			<div class="item">
		      <a class="header" href="#{{this}}">{{this}}</a>
		    </div>
		    {{/each}}
		</div>
	</div>
	<div class="content" style="">
		{{#each cities}}
		<div class="ui list" >
			<div class="item" id="{{@key}}">
				{{@key}}
				<div class="list" >
					{{#each this}}
						<div class="item">
							<input type="checkbox" name="{{this}}">
							{{this}}
							</input>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	<div class="actions">
				<div class="ui button">Cancel</div>
				<div class="ui button">OK</div>
	</div>
</div>
</script>
