<script id="notification-template" type="text/x-handlebars-template">
  <div class="header">
    Notifications
  </div>
  {{#each notifications}}
  <div class="item" style="white-space: normal;max-width: 220px">
    <a href="{{this.url}}" onclick="CampusConnect.Notifications.updateNotificationStatus('{{this.url}}')">{{this.message}}</a>
  </div>
  {{/each}}
</script>
