<li>
    <a href="#" class="btn btn-simple"><%=current_user.firstname%></a>
</li>
<li>
    <a href="#" class="btn btn-simple" onclick="CampusConnect.Utilities.signOut('<%=form_authenticity_token%>')">Sign Out</a>
</li>