<style type="text/css">
ul.ui.horizontal.bulleted.list li::before, .ui.horizontal.bulleted.list > .item::before{
color: white !important;
}

.ui.steps .step:after{
border-style:hidden;
position: relative;
}
.description{
font-size: 1.5em;
}
.ui.steps{
    border: 0px;
}
.ui.steps .step{
border-right: 0px;
}
</style>
<div class="ui grid" style="position:relative;background:cadetblue">
    <div class="sixteen wide column" style="height:60px"></div>    
    <div class="one wide column"></div>
    <div class="two wide column">
        <img src="/images/companies/delhivery_logo.png" style="padding:4px;max-height:120px">
    </div>
    <div class="thirteen wide column">
        <h1 style="color:white">Delhivery Corp pvt ltd</h1>
        <h2 style="color:white;line-height:0px;font-size:17px;">Enabling Commerce</h2>
        <div class="ui horizontal bulleted list" style="color:white;margin-top:10px;">
            <p class="item">
                Founded in: 2012
            </p>
            <p class="item">
                Employees: 32100
            </p>
            <p class="item">
                HeadQuater: Delhi
            </p>
        </div>
    </div>
</div>
    <!-- new row -->
<div class="ui grid segment" style="margin:0px;padding:0px">
    <div class="one wide column">
    </div>
    <div class="nine wide column" style="padding:0px">
        <div class="ui steps">
            <div class="step">
                <i class="marker arrow icon"></i>
                <div class="content">
                    <div class="title">Location</div>
                    <div class="description">Bangalore</div>
                </div>
            </div>
            <div class="step">
                <i class="users icon"></i>
                <div class="content">
                    <div class="title">Position</div>
                    <div class="description">Machine Learning Engineer</div>
                </div>
            </div>
            <div class="step">
                <i class="rupee icon"></i>
                <div class="content">
                    <div class="title">CTC per annum:</div>
                    <div class="description">15 - 30 LPA</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- right company pannel -->