<script type="text/javascript">
    CampusConnect.Dashboard.showCompanyDetails(<%=@op_id%>);
</script>
<style type="text/css">
ul.ui.horizontal.bulleted.list li::before, .ui.horizontal.bulleted.list > .item::before{
color: white !important;
}
.ui.steps .step:after{
border-style:hidden;
position: relative;
}
.description{
font-size: 1.5em;
}
.ui.steps{
border: 0px;
}
.ui.steps .step{
border-right: 0px;
}
.ui.label{
margin-bottom: 10px;
}
.ui.bulleted.list .item,p{
font-size:initial;
line-height: 1.5;
word-spacing: 2px;
}

</style>
<%= render :partial=>"sidebar" %>
<div id="company_detail_container">
</div>