<style type="text/css">
#employer-profile .image-block {
    /*margin-bottom: 20px;*/
    margin-top: 28px;
    background-color: #4c5365;
    padding: 44px 0 48px;
    color: #fff;
    font-size: 14px;
}
</style>

<div id="employer-profile">
    <div class="profile-block image-block">
        <div class="ui doubling stackable grid three column container">
            <div class="one wide column"></div>
            <div id="profile-image" class="three wide column">
                <img src="/images/pramata.png" style="padding: 4px;max-height:160px">
            </div>
            <div class="eight wide column">
                <h2>Pramata knowledge solution</h2>
                <p>Founded in 2005</p>
                <p>200+ employees. Bangalore.</p>
            </div>
        </div>
    </div>
</div>