<div class="main-content container" style="padding-top:5%;height: 87%">
  <div class="pusher" style="height: 100%">
    <div class="ui grid" style="height: 100%">
      <script type="text/javascript">
      // CampusConnect.Utilities.cards();
      </script>
      <div class="ui vertical inverted sidebar menu left overlay">
        <div class="profile_pic">
          <img src="/images/Thapar_Uni_logo.jpg" class="img-circle profile_img">
          <span style="color:#fff">Thapar University</span>
        </div>
        <h4 class="ui horizontal divider header inverted">
        <i class="tag icon left"></i>
        Navigation
        </h4>
        <a class="item">
          <i class="home icon"></i>
          Home
        </a>
        <a class="item">
          <i class="block layout icon"></i>
          Topics
        </a>
        <a class="item">
          <i class="smile icon"></i>
          Friends
        </a>
        <a class="item">
          <i class="calendar icon"></i>
          History
        </a>
      </div>
      <div class="four wide column verticalLine">
        <%= render partial: "filters"%>
      </div>
      <div class="nine wide column">
        <!--  grid to sort start here -->
        <div class="ui grid">
          <div class="three column row">
            <div class="right floated column">
              <div  class="sort-options " style="padding-left: 12%;">
                <select class="sort ui dropdown" >
                  <option value="">Sort by</option>
                  <option value="no_of_openings">No of openings</option>
                  <option value="rating">Rating</option>
                  <option value="package_upper">Package</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!--  grid to sort ends here -->
        <div class="ui  divider"></div>
        <div id="cards-container">
        </div>
      </div>
      <div class="three wide column">
        <!-- kept for ads -->
      </div>
    </div>
  </div>
</div>
<script>
$('.sort.ui.dropdown').dropdown({
    onChange: function(value, text, $selectedItem) {
      CampusConnect.Dashboard.sorted_cards(value);
    }
});

CampusConnect.Dashboard.cards();

// $('.more-location').click(function(){
//   CampusConnect.Dashboard.getFilterList("location");
//   $('.ui.modal').modal('show');
// })

$(".prompt.search-bar").keydown(function(event){
    if (event.keyCode == 13) {
        var query = $(this).val();        
        CampusConnect.Dashboard.search_openings(query);
    }
})

</script>
