<div class="main-content container" style="background-color:;padding-top:5%">
  <div class="pusher" style="">
    <div class="ui grid">
      <div class="four wide column verticalLine">
        <%= render partial: "filters"%>
      </div>
      <div class="nine wide column">
        <!--  grid to sort start here -->
        <div class="ui grid">
          <div class="three column row">
            <div class="left floated column">
              <div class="ui multiple dropdown">
                <input type="hidden" name="filters">
                <i class="filter icon"></i>
                <span class="text">Location</span>
                <div class="menu">
                  <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search tags...">
                  </div>
                  <div class="divider"></div>
                  <div class="header">
                    <i class="tags icon"></i>
                    Tag Label
                  </div>
                  <div class="scrolling menu">
                    <div class="item" data-value="important">
                      Bangalore
                    </div>
                    <div class="item" data-value="announcement">
                      Hyderabad
                    </div>
                    <div class="item" data-value="cannotfix">
                      Mumbai
                    </div>
                    <div class="item" data-value="news">
                      Chennai
                    </div>
                    <div class="item" data-value="enhancement">
                      Delhi
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="left floated column">
              <div class="ui multiple dropdown">
                <input type="hidden" name="filters">
                <i class="filter icon"></i>
                <span class="text">Department</span>
                <div class="menu">
                  <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search tags...">
                  </div>
                  <div class="divider"></div>
                  <div class="header">
                    <i class="tags icon"></i>
                    Tag Label
                  </div>
                  <div class="scrolling menu">
                    <div class="item" data-value="important">
                      Software Engineer
                    </div>
                    <div class="item" data-value="announcement">
                      Mechanical Engineer
                    </div>
                    <div class="item" data-value="cannotfix">
                      HR
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="right floated column">
              <div  class="sort-options " style="padding-left: 12%;">
                <select class="sort ui dropdown" >
                  <option value="">Sort by</option>
                  <option value="no_of_openings">No of openings</option>
                  <option value="rating">Rating</option>
                  <option value="package_upper">Package</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!--  grid to sort ends here -->
        <div class="ui  divider"></div>
        <div id="cards-container">
        </div>
      </div>
      <div class="three wide column">
        <!-- kept for ads -->
      </div>
    </div>
  </div>
</div>
<script>
$('.sort.ui.dropdown').dropdown({
    onChange: function(value, text, $selectedItem) {
      CampusConnect.Dashboard.sorted_cards(value);
    }
});

CampusConnect.Dashboard.cards();

// $('.more-location').click(function(){
//   CampusConnect.Dashboard.getFilterList("location");
//   $('.ui.modal').modal('show');
// })

$(".prompt.search-bar").keydown(function(event){
    if (event.keyCode == 13) {            
        var query = $(this).val();
        CampusConnect.Dashboard.search_openings(query);
    }
})

</script>
