<script id="departments-template" type="text/x-handlebars-template">
  <option value="">Select Department</option>
  {{#each departments}}
  <option value="{{@key}}">{{this}}</option>
  {{/each}}
</script>
