<%= render :partial=>"sidebar" %>
<div class="ui fixed menu">
  <div class="ui container">
    <div class="left menu">
      <a class="launch icon item" onclick="$('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');">
        <i class="content icon"></i>
      </a>
      <a href="#" class="header item">
        <h3>CampusConnect</h3>
      </a>
    </div>
    <div class="right menu">
      <a href="/campus_drives/index" class="item">Create Drive</a>
      <div class="ui right dropdown mini item">
        <label href="#" class="item"><%=current_user.firstname%></label>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Profile <i class="user icon" style="float:right"></i></div>
          <div class="item">Settings <i class="settings icon" style="float:right"></i></div>
          <div class="item" ><a href="/user_help"> Help</a><i class="help icon" style="float:right"></i></div>
          <div class="item">
            <a href="#" onclick="CampusConnect.Utilities.signOut('<%=form_authenticity_token%>')">Sign Out</a>
            <i class="sign out icon" style="float:right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('.ui.dropdown').dropdown();
</script>
