.rounded-right{
	border-radius: 0 4px 4px 0 !important;
}
.form-group.required .control-label:after{
	content:"*";
	color:red;
}
.register-button{
	text-align: center
}
.btn-register{
	background-color: #ff471a;
	border-color:#ff471a;
	color:#ffffff;
}
.btn-register:hover,
{
	background-color:#ffff00;
	border-color:#ffff00;
	color:#1a1a1a;
}
.registration-signup-header{
	padding-bottom:5px;
	margin-bottom:10px;
	margin-top:-25px;
	border-bottom:solid 1px #660a18;
}
.registration-signUp{
	width:500px;
	padding:20px;
	margin-left:370px;
	margin-top:-25px;
	margin-bottom:90px;
	background:#fff;
	background-repeat: no-repeat;
	border-top:solid 2px #ff471a;
}
