<div class="ui vertical inverted sidebar menu left overlay">
  <div class="profile_pic">
    <img src="/images/Thapar_Uni_logo.jpg" class="img-circle profile_img">
    <span style="color:#fff">Thapar University</span>
  </div>
  <h4 class="ui horizontal divider header inverted">
  <i class="tag icon left"></i>
  Navigation
  </h4>
  <a class="item" href="/user_root">
    <i class="home icon"></i>
    Dashboard
  </a>
  <a class="item" href="/connections">
    <i class="block layout icon"></i>
    Connection
  </a>
  <a class="item" href="/profile">
    <i class="smile icon"></i>
    Campus Profile
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    History
  </a>
</div>