
<div class="ui grid" style="margin-top:50px">
	<div class="three wide column"></div>
	<div class="eight wide column">
		<h1>We are there to help you!</h1>
		<br/>		
		<%= form_tag({controller: "user_help",action: "create"},method: "post", :class=>"ui large form") do %>
		  <div class="field">
		    <label>Contact Detail</label>
		    <div class="three fields">
		      <div class="field">
		        <input type="text" name="email" placeholder="Enter Email">
		      </div>
		      <div class="field">
		        <input type="text" name="phone_number" placeholder="Phone number">
		      </div>
		      <div class="field">
		       <button class="ui primary button" type="submit">Contact Me</button>
		      </div>
		    </div>
		  </div>	
		  
		<%end%>
	</div>
	<div class="four wide column"> 		
		
	</div>

	<div class="three wide column"></div>
	<div class="eight wide column">
		<div class="ui horizontal divider">Or</div>		
	</div>
	<div class="five wide column"></div>

	<div class="three wide column"></div>
	<div class="eight wide column">
		<h3>We are available on </h3>
		<p style="font-size:15px"><b>Contact Number</b>:  1234567890 <br/>
			<b>Email</b>:    support@example.com</p>
	</div>
	<div class="five wide column"></div>


</div>
<div class="response" style="position:absolute;top:80px;left:600px;">
<div  class="ui floating info message" id="message" style="padding-left:50px;padding-right:50px;display:<%= @message.present? ? 'block' : 'none' %>">
		  <i class="close icon"></i>
		  <div class="header">
		    Request Submitted successfully!
		  </div>
		  <p>Our Executive will contact you shortly.</p>
		</div>
		<div class="ui floating warning message" id="message" style="padding-right:50px;padding-left:50px;display:<%=@error.present? ? 'block' : 'none'%>">
		  <i class="close icon"></i>
		  <div class="header">
		    OOPS, something went wrong!.
		  </div>
		  <p>Please try again later.</p>
		</div>
</div>

<script type="text/javascript">
	$('.message .close').on('click', function() {
    	$(this).closest('.message').transition('fade');
    	window.history.pushState({}, document.title, "/user_help" );
  })
	setTimeout(function () {
	    document.getElementById('message').style.display='none';
	    window.history.pushState({}, document.title, "/user_help" );
    }, 10000);


</script>