<div class="response" style="position:fixed;top:10px;left:30%;z-index:999">
<div  class="ui floating green message" id="message" style="padding-left:50px;padding-right:50px;display:<%= @message.present? ? 'block' : 'none' %>">
      <i class="close icon"></i>
      <div class="header">
        <%= @message %>
      </div>
    </div>
    <div class="ui floating warning message" id="message" style="padding-right:50px;padding-left:50px;display:<%=@error.present? ? 'block' : 'none'%>">
      <i class="close icon"></i>
      <div class="header">
        OOPS, something went wrong!.
      </div>
      <p>Please try again later.</p>
    </div>
</div>

<script type="text/javascript">
  $('.message .close').on('click', function() {
      $(this).closest('.message').transition('fade');
      window.history.pushState({}, document.title, "/users/profile" );
  })
</script>