<br/>
<br/>
<br/>

<div class="ui middle aligned center aligned grid">
  <div class="six wide column default-div">
    <h2 class="ui image header">
      <div class="content">
        <h2>Forgot your password? </h2>
      </div>
    </h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name),:html=>{:class=>"ui large form reset-password"}) do |f| %>
      <div class="ui   segment">
        
        <h4 style="padding: 10px 25px 20px 25px;">  We will send you a link to reset your password. Please enter an Email
        </h4>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>            
            <%= f.email_field :email, autofocus: true, placeholder: 'Please enter email' %>            
          </div>
        </div>
        <%= f.submit "Send me reset password link", :class=>"ui fluid large teal submit button" %>
      </div>
     <%end %>
    <div class="ui segment">
       <a href="/users/sign_in">Login</a>
    </div>
  </div>
  <div class="six wide column response-div"  style="display:none">
      <div class="ui segment"> 
        <div class="ui info message" style="display:none">
          <h2></h2>
          <p>
          </p>
        </div>
  </div>
</div>

<script type="text/javascript">
CampusConnect.Login.Validation.forgotPassword();
$(".ui.large.form.reset-password .submit.button").on("click", function(e) {
    var email = $("#user_email").val();
  if( email === undefined || email ===""){
    return false;
  }
    var url = $(".ui.large.form.reset-password").attr('action');
    $.ajax({
        url: url ,
        data: $(".ui.large.form.reset-password").serialize(),
        type: "POST",
        dataType: "json",
        success: function(response) {
            console.log(response.data);
            $(".default-div").hide();
            $(".response-div").show();
            $(".info.message").show();            
            $(".info.message h2").html("Successfully sent!");            
            $(".info.message p").html("We have sent reset password instructions to registered email at <b>"+response.data+"</b> . Please check your email to reset the password and enjoy our service.")
        },
        error: function(xhr, textStatus, errorThrown) {
            $(".default-div").hide();
            $(".message").removeClass("info message").addClass("error message");
            $(".response-div").show();
            $(".error.message").show();
            $(".error.message h2").html("OOPS, something went wrong");
            $(".error.message p").html("Please try again after sometime!");
        }
    });
    e.preventDefault(); //THIS IS VERY IMPORTANT
    return false;
});
</script>