<script id="cities-template" type="text/x-handlebars-template">
  <div id="content">
    
    <div id="cityDiv">
      <select id="cities" name="city" class="form-control" >
        <option value="0">Select City</option>
        {{#each cities}}
          <option value="{{id}}" label="{{value}}">{{value}} </option>
        {{/each}}
      </select>
    </div>
  </div>
</script>
