<script id="location-tempate" type="text/x-handlebars-template">
  <div id="content">

    <div id="country_div">
      <select id="country" name="country" class="form-control" onchange="CampusConnect.Locations.getStates(this.value)" >
        <option value="0">Select Country</option>
        {{#each countries}}
          <option value="{{id}}" label="{{value}}">{{this}} </option>
        {{/each}}
      </select>
    </div>
    <!-- states list -->

  </div>
</script>
